@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body*/
body {
  background-color: #0F172A;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-family: "Gravitas One", serif;
  color: white;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.91);
  margin-top: 100px;
  font-size: 3rem;
}

h2 {
  text-align: center;
  color: white;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.91);
  margin-bottom: 40px;
  padding-top: 40px;
  font-size: 2rem;
}

h3 {
  text-align: center;
  align-items: center;
  color: white;
  background-color: darkgray;
  padding: 30px;
  margin: 1.8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 35px;
}

p {
  color: white;
}

h4 {
  display: flex;
  align-items: center;
  color: black;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #1E2A38;
  font-size: 1.5rem;
  height: 70px;
  z-index: 110;
  width: 100%;
}
header a .logo {
  width: 60px;
  margin: 8px;
}
header .juntos {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-evenly;
}
header .juntos .search-form {
  display: flex;
}
header .juntos .search-form input {
  padding: 8px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}
header .juntos .search-form button {
  padding: 8px 15px;
  border: none;
  background-color: #00bcd4;
  cursor: pointer;
}
header .juntos .search-form button:hover {
  background-color: #0097a7;
}
header nav {
  width: 30%;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}

footer {
  text-align: center;
}
footer .paz {
  padding: 40px;
  background-color: #1E2A38;
}
footer .paz .foto {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
footer .paz .foto a .red {
  width: 45px;
}
footer .footer {
  font-size: 1.3rem;
  color: white;
  background-color: #1E2A38;
  border: black solid 3px;
}

.primario {
  background-color: #758A93;
}
.primario .abajo {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.primario .abajo .formulario {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.primario .abajo .formulario input,
.primario .abajo .formulario .formulario textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.primario .abajo .formulario .formulario textarea {
  resize: none;
  height: 80px;
}
.primario .abajo .formulario button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}
.primario .abajo .formulario button:hover {
  background-color: #218838;
}

.anima {
  text-align: center;
  font-family: "Gravitas One", serif;
  color: white;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.91);
  margin-top: 100px;
  font-size: 5rem;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.contenedor-grid {
  background-image: url(../img/Imageeennegra.png);
  padding: 80px;
  margin: 80px;
  display: grid;
  grid-template-areas: "titulo titulo titulo" "parrafo parrafo img" "img1 . texto2";
  grid-template-columns: 35% 20% 35%;
  grid-template-rows: 60px 200px 250px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 10px;
}
.contenedor-grid .titulo-grid {
  grid-area: titulo;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.contenedor-grid .parrafo-grid {
  grid-area: parrafo;
  font-family: initial;
}
.contenedor-grid .texto2 {
  grid-area: texto2;
  font-family: initial;
}
.contenedor-grid .img {
  grid-area: img;
}
.contenedor-grid .img1 {
  grid-area: img1;
}
.contenedor-grid img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

h2 .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 100px;
}
h2 .redes a {
  padding: 10px;
  border-radius: 1.8rem;
  background-color: darkblue;
}

.promo {
  display: flex;
  align-items: center;
  text-align: center;
}
.promo .promo1 {
  position: relative;
  background-color: #999999;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 20px;
  width: 55%;
}
.promo .promo1 img {
  width: 100%;
  height: auto;
}
.promo .wayfarer {
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 20px;
}
.promo .wayfarer .cash {
  font-size: 30px;
}
.promo a .btn-comprar {
  display: inline-block;
  padding: 12px 25px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;
}
.promo a .btn-comprar .boton-comprar {
  background-color: green;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.promo a .btn-comprar .boton-comprar hover {
  background-color: #218838;
}
.promo .promo2 {
  position: relative;
  background-color: #999999;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 20px;
  width: 55%;
}
.promo .promo2 img {
  width: 100%;
  height: auto;
}
.promo .promo2 .clubmaster {
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 20px;
}
.promo .promo2 .clubmaster .cash {
  font-size: 30px;
}
.promo a .btn-comprar {
  display: inline-block;
  padding: 12px 25px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;
}
.promo a .btn-comprar hover {
  background-color: #218838;
}
.promo .promo3 {
  position: relative;
  background-color: #999999;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 20px;
  width: 55%;
}
.promo .promo3 img {
  width: 100%;
  height: auto;
}
.promo .hexagonal {
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 20px;
}
.promo .hexagonal .cash {
  font-size: 30px;
}
.promo a .btn-comprar {
  display: inline-block;
  padding: 12px 25px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;
}
.promo a .btn-comprar .btn-comprar:hover {
  background-color: #218838;
}

.parrafo {
  font-size: 20px;
}

.texto2 {
  font-size: 20px;
}

.contenedor-contacto {
  background-image: url(../img/Imageeennegra.png);
  padding: 90px;
  margin: 90px;
  display: grid;
  grid-template-areas: "contacto3 contacto3 contacto3" "contacto2 contacto contacto " "contacto2 contacto contacto " "contacto2 contacto contacto ";
  grid-template-columns: 40% 30% 20%;
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 10px;
}
.contenedor-contacto .contacto3 {
  grid-area: contacto3;
  padding-bottom: 100px;
}
.contenedor-contacto .contacto2 {
  grid-area: contacto2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.contenedor-contacto .contacto {
  grid-area: contacto;
}
.contenedor-contacto .contenedor-contacto img {
  border-radius: 15px;
}

.medio {
  text-align: center;
}

.primario {
  background-color: #758A93;
}
.primario .abajo {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.formulario {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formulario input,
.formulario textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.formulario textarea {
  resize: none;
  height: 80px;
}

.formulario button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #218838;
}

.linea {
  text-decoration: none;
  margin-bottom: 20px;
}

.card-text {
  color: black;
}

.cash {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.btn-comprar {
  display: inline-block;
  padding: 12px 25px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;
}
.btn-comprar .btn-comprar:hover {
  background-color: #218838;
}

@media only screen and (max-width: 480px) {
  header {
    flex-direction: column;
    justify-content: none;
    align-items: center;
    height: 200px;
    position: static;
    top: 0;
  }
  header .juntos {
    width: 100%;
    justify-content: center;
  }
  header nav {
    text-align: center;
    width: 100%;
  }
  header nav ul {
    justify-content: space-around;
    padding: 0;
  }
  .contenedor-grid {
    padding: 20px;
    margin: 0;
    grid-template-areas: "titulo" "img" "parrafo" "img1" "texto2";
    grid-template-columns: 100%;
    grid-template-rows: 100px 200px 150px 200px 150px;
  }
  h1 {
    margin-bottom: 40px;
  }
  .promo {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .contenedor-contacto {
    padding: 20px;
    margin: 0;
    grid-template-areas: "contacto3" "contacto" "contacto2";
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
}

/*# sourceMappingURL=estilos.css.map */
