



<<<<<<< HEAD

=======
>>>>>>> 95fb5730acc4635dc03b8eb80cc54b60efd6e78c

/* search*/

/*index*/

/* main index*/








/*Las promociones*/

<<<<<<< HEAD

.promo img{
=======
.promo {
    display: flex;
    align-items: center;
    text-align: center;
}

.promo img {
>>>>>>> 95fb5730acc4635dc03b8eb80cc54b60efd6e78c
    width: 100%;
    height: auto;
}

<<<<<<< HEAD





=======
.promo1 {
    position: relative;
    background-color: #999999;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 20px;
    width: 55%;

}

.wayfarer {

    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 20px;
}

.promo2 {
    position: relative;
    background-color: #999999;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 20px;
    width: 55%;
}

.clubmaster {
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 20px;
}

.promo3 {
    position: relative;
    background-color: #999999;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 20px;
    width: 55%;
}

.hexagonal {
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 20px;

}

h4 {
    display: flex;
    align-items: center;
    color: black;
}
>>>>>>> 95fb5730acc4635dc03b8eb80cc54b60efd6e78c




/*header general*/









<<<<<<< HEAD

header 
header 
=======
>>>>>>> 95fb5730acc4635dc03b8eb80cc54b60efd6e78c

.buscar {

    width: 30%;
    height: 30px;
    padding: 10px;
    margin: 20px;
    font-display: flex;
}




/* main general */



/*footer general*/


<<<<<<< HEAD


=======
>>>>>>> 95fb5730acc4635dc03b8eb80cc54b60efd6e78c
/*body de contacto*/






/*main productos*/


<<<<<<< HEAD
=======
.linea {
    text-decoration: none;
    margin-bottom: 20px;
}
>>>>>>> 95fb5730acc4635dc03b8eb80cc54b60efd6e78c




.coral {
    background-color: black;
    font-size: 1.4rem;
    align-items: center;
    padding: 20px;
    margin: 30px;
}

.card-text {
    color: black;
}

<<<<<<< HEAD

=======
>>>>>>> 95fb5730acc4635dc03b8eb80cc54b60efd6e78c

/* header productos*/
.produ {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;


}



/* footer */

<<<<<<< HEAD
=======
.footer {
    font-size: 1.3rem;
    color: white;


    background-color: #1E2A38;
    border: black solid 3px;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;

    padding: 100px;

}

.redes a {
    padding: 10px;
    border-radius: 1.8rem;
    background-color: darkblue;
}
>>>>>>> 95fb5730acc4635dc03b8eb80cc54b60efd6e78c





/* contenedor Contacto   */
<<<<<<< HEAD
=======
.contenedor-contacto img {
    border-radius: 15px;
}

>>>>>>> 95fb5730acc4635dc03b8eb80cc54b60efd6e78c





<<<<<<< HEAD



/*main section contacto*/






/*

@media only screen and (max-width:480px){ 
    header{
        flex-direction: column;
        justify-content: none;
        align-items: center;
        height: 200px;
        position: static;
        top:0 ;
        
    }
  
    nav{
        text-align: center;
        width: 100%;
    }
    header ul{
        justify-content: space-around;
        padding: 0;
    }

    .juntos{
        width: 100%;
        justify-content: center;
    }
    .contenedor-grid{
        padding: 20px;

       margin: 0;
        
         grid-template-areas:
         "titulo"
         "img"
         "parrafo"
         "img1"
         "texto2"
            ;
            grid-template-columns: 100%;
            grid-template-rows: 100px 200px 150px 200px 150px ;
        }
        
        h1{
            margin-bottom: 40px;
        }


        .promo{
        justify-content: center;
        flex-direction: column;
        }
        
        .contenedor-contacto{
            padding:20px;
            margin:0;
            
            grid-template-areas: 
            "contacto3"
            "contacto"
            "contacto2";

            grid-template-columns:100%;

            grid-template-rows:auto ;

        }
    }


    
    
=======

/*main section contacto*/

>>>>>>> 95fb5730acc4635dc03b8eb80cc54b60efd6e78c
