@media only screen and (max-width:480px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: none;
        align-items: center;
        height: 200px;
        position: static;
        top: 0;

        nav {
            width: 100%;
            text-align: center;


            header ul {
                justify-content: space-around;
                padding: 0;

            }

        }

        .juntos {
            width: 100%;
            justify-content: center;
        }

    }

    h1 {
        margin-bottom: 40px;

    }


    .contenedor-grid {
        padding: 20px;
        margin: 0;

        grid-template-areas:
            "titulo"
            "img"
            "parrafo"
            "img1"
            "texto2";
        grid-template-columns: 100%;
        grid-template-rows: 100px 200px 150px 200px 150px;
    }

    .promo {
        justify-content: center;
        flex-direction: column;
    }

    .contenedor-contacto {
        padding: 20px;
        margin: 0;

        grid-template-areas:
            "contacto3"
            "contacto"
            "contacto2";

        grid-template-columns: 100%;

        grid-template-rows: auto;

    }

}